html, body {
    height: 100%;
    width: 100%;
  }
  
  div.row1{
    width:30px;
    height:30px;
    text-align: center;
    vertical-align:center;
    font-size: 16px;
    border: 1px solid black;
    display:inline-block;
  }